// .clients {
//     padding-top: 94px;
//     padding-bottom: 94px;

//     &__title {
//             margin-bottom: 50px;
    
//             text-align: center;
//             font-weight: 700;
//             font-size: 36px;
//             line-height: 1.17;
//         }
//     &__list {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-right: auto;
//             margin-left: auto;
//             gap: 30px;
//             list-style: none;
//         }
// }



