.command {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color-secondary);

    &_img {
        @media (min-width:768px) {
                max-width: 354px;
            }
    }

    &__title {
            margin-bottom: 50px;
    
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
        }

    &__list {
            padding-left: 0;
            text-align: center;
            list-style: none;

            @media (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }

            @media (min-width:1200px) {
                flex-wrap: nowrap;
            }
        }
}




