.example {
    padding: 60px 0;

    @media (min-width: 1200px) {
            padding: 94px 0px;
        }

    &__title {
            margin-bottom: 50px;
    
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
        }
}

