// .footer {
//     padding: 60px 0;

//     background-color: var(--background-color-accent);
//     color: var(--white-text-color);

//     &__container {
//             display: flex;
//             align-items: baseline;
//         }
// }

