.footer-logo {
    display: block;
    margin-bottom: 20px;

    color: var(--white-text-color);
    text-align: center;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    @media (min-width:1200px) {
            text-align: left;
        }

    &__lable {
            color: var(--accent-text-color);
        }
}

