.hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(var(--hero-background-gradient),
            var(--hero-background-gradient)),
        url(../imeges/hero.jpg);
    background-color: var(--background-color-accent);

    &__title {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            max-width: 696px;
    
            color: var(--white-text-color);
            font-weight: 900;
            // font-size: 44px;
            // line-height: 1.36;
            font-size: 26px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            text-align: center;
        }

    &__button {
            display: flex;
            padding: 10px 32px;
            margin: 0 auto;
            justify-content: center;
            border-radius: 4px;
    
            color: var(--white-text-color);
            background-color: var(--accent-text-color);
            border-color: transparent;
            font-family: Roboto, sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            cursor: pointer;
            text-decoration: none;
            transition-property: color, background-color;
            transition-duration: 250ms, 250ms;
            transition-timing-function: var(--transition-cubic-bezier), var(--transition-cubic-bezier);
    
            &:hover,
            &:focus {
                color: var(--title-text-color);
                background-color: var(--background-color-secondary);
                border-color: transparent;
            }
        }
}




