.mailing {
    
    &__form {

        @media (min-width:1200px) {
            margin-left: 93px;
        }
        }

    &__text {
            margin-top: 60px;
            margin-bottom: 20px;
    
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;

            @media (min-width:1200px) {
                    text-align: left;
                    margin-top: 0;
                }
        }

    &__input {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
            padding-left: 16px;
            
            width: 100%;
            height: 50px;
    
            color: var(--white-text-color);
            background-color: var(--background-color-accent);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;

            @media (min-width: 768px) {
                width: 448px;
            }

            @media (min-width:1200px) {
                display: inline-block;
                    margin-right: 12px;
                    width: 358px;
                }
        }

    &__button {
            display: flex;
            margin-right: auto;
            margin-left: auto;
            align-items: center;
            justify-content: center;
            padding: 10px 28px;
            width: 200px;
            height: 50px;
            gap: 10px;
    
            color: var(--white-text-color);
            background-color: var(--accent-text-color);
            fill: var(--background-color-primary);
            border-color: transparent;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.875;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            transition-property: color, background-color, fill;
            transition-duration: 250ms, 250ms, 250ms;
            transition-timing-function: var(--transition-cubic-bezier), var(--transition-cubic-bezier), var(--transition-cubic-bezier);
    
            @media (min-width:1200px) {
            display: inline-flex;
            }

            &:hover {
                color: var(--title-text-color);
                background-color: var(--background-color-secondary);
                fill: var(--title-text-color);
                border-color: transparent;
            }
        }
}








