.modal-form {

    &__title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.5;
            text-align: center;

            @media (min-width: 1200px) {
                line-height: 1.15;
            }
        }

    &__lable {
            display: block;
            margin-bottom: 10px;
        }

    &__icon {
            display: block;
            position: relative;
        }
    
    &__input {
            display: block;
            padding-left: 42px;
            height: 40px;
            width: 100%;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: var(--transition-cubic-bezier);

            &:focus {
                    outline: none;
                    border-color: var(--accent-text-color);
                }
        }

    &__svg {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: var(--transition-cubic-bezier);

            .modal-form__input:focus+& {
                    fill: var(--accent-text-color);
                }
        }

    &__coment {
            display: block;
            margin-bottom: 20px;
        }

    &__textarea {
            display: block;
            padding: 12px 16px;
            width: 100%;
            max-height: 120px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            resize: none;
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: var(--transition-cubic-bezier);
    
            &:focus {
                outline: none;
                border-color: var(--accent-text-color);
            }
        }

    &__text {
            display: block;
            margin-bottom: 4px;
    
            color: var(--primary-text-color);
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
        }

    &__button {
            display: flex;
            padding: 8px 50px;
            margin: 0 auto;
            justify-content: center;
            border-radius: 4px;
    
            color: var(--white-text-color);
            background-color: var(--accent-text-color);
            border-color: transparent;
            font-family: Roboto, sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            cursor: pointer;
            text-decoration: none;
            transition-property: color, background-color;
            transition-duration: 250ms, 250ms;
            transition-timing-function: var(--transition-cubic-bezier), var(--transition-cubic-bezier);
    
            &:hover,
            &:focus {
                color: var(--title-text-color);
                background-color: var(--background-color-secondary);
                border-color: transparent;
            }
        }
}




