/* site nav */


.site-nav {
    display: flex;
    align-items: center;

    &__menu {
        position: absolute;
        top: 10px;
        right: 15px;

        background-color: #fff;
        border: none;

        @media (min-width: 480px) {
            display: none;
        }
    }

    &__logo {
            margin-right: 93px;
    
            color: var(--black-text-color);
            font-family: Raleway, sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            text-decoration: none;
        }

    &__lable {
            color: var(--accent-text-color);
        }

    &__link {
            display: none;
            // display: block;
    
            color: var(--title-text-r);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            text-decoration: none;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: var(--transition-cubic-bezier);
    
            &:hover,
            &:focus {
                color: var(--accent-text-color);
            }
    
            &::after {
                position: absolute;
                bottom: -32px;
                display: block;
                opacity: 0;
                width: 100%;
                height: 4px;
                background-color: currentcolor;
                border-radius: 2px;
                transition-property: opacity;
                transition-duration: 250ms;
                transition-timing-function: var(--transition-cubic-bezier);
                content: '';
            }
    
            &:hover::after {
                opacity: 1;
            }

            &--current::after {
                opacity: 1;
            }

            &--current {
                color: var(--accent-text-color);
            }

            @media (min-width: 480px) {
                display: block;
            }
        }

    &__list {
            display: flex;
            padding-left: 0;
            gap: 50px;
            list-style: none;
        }

    &__item {
            position: relative;
        }   
}











